<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %} | Django</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block mycss %}
        <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% endblock mycss %}
      
    
    </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-dark">
        <a class="navbar-brand" href="/">Learn Django</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Images</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    {% block body %}
        
    {% endblock body %}
    
    <div class="container-fluid p-1 bg-dark">
        <h2 class="text-primary text-center">YEAR 2020</h2>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/fontawesome.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
   </body>
</html>